
.app-container {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  background-color: #8a8a8a;
  display: flex;
  flex-basis: min-content;
}


.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px;
}

.testfabars {
	
	position: absolute;
	left: 400px;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}

.testfabars2 {
	
	position: absolute;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}