
.app-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  width: auto !important;
  max-width: 100%;
  height: 100vh;
  height: auto !important;
  min-height: 100vh;
  
}

.sidebar-container {
  background-color: #8a8a8a;
  display: flex;
  height: 100vh;
  height: auto !important;
  min-height: 100vh;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  width: auto !important;
  max-width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
}


.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1%;
  height: auto !important;
}

.testfabars {
	
	position: absolute;
	left: 400px;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}

.testfabars2 {
	
	position: absolute;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}


@media screen and (max-height: 768px) {
.testfabars {
  
  position: absolute;
  left: 320px;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}

.testfabars2 {
  
  position: absolute;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}

}

@media screen and (max-height: 600px) {
.testfabars {
  
  position: absolute;
  left: 240px;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}

.testfabars2 {
  
  position: absolute;
    color: gray;
    width: 50px;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}

}