table {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f2f2f2;
    color: black;
  }

  .pagination {
    border: 1px solid #ddd;
    font-size:16px;
  }

  .pagination > button {
  flex: 1 1;
  text-align: center;
  padding: 8px;
}

.page-info, .pagination{
  align-items: center;
  display: flex;
  flex: 1.5 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  text-align: center;
}

